.introSection {
  padding: 80px 0;
  background-color: #fff;
  /* background-color: rgba(239, 246, 255, 0.5); */
}

.title {
  margin-bottom: 64px;
  font-size: var(--text-40);
  font-weight: var(--font-700);
  text-align: center;
}

/* .introSectionAnimate {
  opacity: 0;
  transform: translateY(20px);
  animation: introAnimate 2s forwards;
} */

.videoContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.video {
  flex: 0 1 544px;
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 2rem;
  height: auto;
  display: block;
}

.message {
  flex: 1;
  font-size: var(--text-40);
  font-weight: var(--font-700);
  line-height: 150%;
  text-align: center;
  margin-top: var(--spacing-56);
  margin-bottom: var(--spacing-32);
}

.descriptionContainer {
  display: flex;
  justify-content: center;
  margin: 0 20px;
  border-radius: 2rem;
  padding: var(--spacing-40) var(--spacing-32);
  background-color: #f2f2f2;
}

.description {
  font-size: var(--text-18);
  font-weight: var(--font-500);
  line-height: 150%;
}

.messageMobile {
  display: none;
  font-size: var(--text-24);
  font-weight: var(--font-700);
  line-height: 150%;
  text-align: center;
  margin-top: var(--spacing-56);
}

@keyframes introAnimate {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 반응형 */
/* @media (max-width: 768px) {
  .videoContainer {
    flex-direction: column;
    align-items: center;
  }
} */

@media (max-width: 425px) {
  .message {
    display: none;
  }

  .descriptionContainer {
    display: none;
  }

  .messageMobile {
    display: block;
  }

  .video {
    max-width: 544px;
    width: 100%;
  }
}
