.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4rem;
}

.label {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
  position: relative;
}

.star {
  color: red;
  position: absolute;
  font-size: 1.4rem;
  top: -0.6rem;
}

.input {
  padding: 1.6rem 1.6rem;
  border: 1px solid var(--tertiary);
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  color: #000000;
  border-radius: 0.6rem;
}

.input::placeholder {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  color: #cdced6;
}

.input:focus,
.input:active {
  outline: 2px solid var(--primary);
}

.textarea {
  padding: 1.6rem 1.6rem;
  border: 1px solid var(--tertiary);
  font-weight: 400;
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  border-radius: 0.6rem;
  height: 30rem;
  resize: none;
}

.textarea::placeholder {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #cdced6;
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

.textarea:focus,
.textarea:active {
  outline: 2px solid var(--primary);
}
