.carouselContainer {
  position: relative;
  width: 100%;
}

.newsCardWrapper {
  position: relative;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fadeEffect {
  opacity: 0.5;
}

.buttonWrapper {
  position: absolute;
  bottom: var(--spacing-32);
  right: 436px;
}
