.banner {
  background-color: var(--primary);
  height: 25rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25rem;
}

.bannerTitle {
  color: var(--white);
  font-size: var(--text-48);
  font-weight: var(--font-900);
  line-height: 120%;
  cursor: default;
}

/* 반응형 */
@media (max-width: 320px) {
  .bannerTitle {
    font-size: var(--text-40);
  }
}

@media (max-width: 425px) {
  .bannerTitle {
    font-size: 4rem;
  }
}
