.notice {
  padding: 24px 16px;
  border-bottom: 1px solid #eeeeee;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.notice:hover {
  background-color: #f7f7f7;
}

.date {
  font-weight: 500;
  margin-bottom: 8px;
}

.title {
  font-size: 18px;
  font-weight: 700;
}
