.serviceSection {
  width: 100%;
  padding: var(--spacing-64) 0;
}

.serviceContainer {
  display: flex;
  justify-content: space-between;
}

/* 반응형 */
@media (max-width: 768px) {
  .serviceContainer {
    flex-direction: column;
  }
}
