.PostButton {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: none;
  background-color: var(--tertiary);
  transition: all 200ms ease;
}

.PostButton:hover {
  background-color: var(--secondary);
}
