.currentLocation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: var(--spacing-128);
}

.currentLocationList {
  display: flex;
  gap: 10px;
}

.currentLocationText {
  font-size: var(--text-16);
  font-weight: 400;
  color: #71717a;
}

.currentLocationText:not(:first-child)::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("/svg/next_icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  vertical-align: middle;
  transform: translateY(-1px);
  position: relative;
  top: -1px;
}

.currentLocationText:last-child {
  color: #000;
  font-weight: 500;
}

.titleContainer {
  width: 100%;
  padding: 32px 18px 120px;
}

.title {
  font-size: var(--text-48);
  font-weight: 700;
  text-align: center;
}

@media (max-width: 900px) {
  .currentLocation {
    padding-top: 80px;
  }

  .titleContainer {
    padding: 24px 16px 80px;
  }

  .currentLocationText {
    font-size: 14px;
  }

  .title {
    font-size: 32px;
  }
}

@media (max-width: 500px) {
  .currentLocation {
    display: none;
  }

  .titleContainer {
    padding: 100px 16px 80px;
  }

  .title {
    font-size: 32px;
    word-break: keep-all;
    word-wrap: break-word;
  }
}
