.Controller {
  max-width: fit-content;
  height: 60px;
  background-color: #282828;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.button {
  padding: 16px 24px;
  background-color: #282828;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  transition: 200ms all ease-in-out;
  display: flex;
}

.button:hover {
  background-color: var(--secondary);
}

.active {
  background-color: var(--secondary);
}

.icon {
  width: 24px;
}

/* .hide {
  display: none;
}

.show {
  display: flex;
} */

.hide {
  visibility: hidden;
}

.show {
  opacity: 1;
  visibility: visible;
}
