.intro {
  padding: var(--spacing-64) 0;
}

.innerContainer {
  max-width: 1140px;
  margin: 0 auto;
}

.videoContainer {
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacing-56);
  opacity: 0;
  transform: translateY(20px);
  animation: videoContainer 2s forwards;
}

.video {
  border-radius: 2rem;
}

.message {
  font-size: var(--text-32);
  font-weight: var(--font-700);
  line-height: 150%;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  animation: message 2s forwards;
}

.messageMobile {
  display: none;
  font-size: var(--text-24);
  font-weight: var(--font-700);
  line-height: 150%;
  text-align: center;
}

/* 애니메이션 */
@keyframes videoContainer {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes message {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 반응형 */
@media (max-width: 768px) {
  .video {
    width: 60rem;
    height: 34rem;
  }
}

@media (max-width: 425px) {
  .message {
    display: none;
  }

  .messageMobile {
    display: block;
  }

  .video {
    width: 100%;
    height: 22rem;
  }
}
