.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 6rem);
}

.image {
  margin-bottom: 48px;
}

.textContainer p {
  font-size: var(--text-40);
  font-weight: var(--font-700);
  margin-bottom: var(--spacing-32);
}

.textContainer a {
  font-size: var(--text-20);
  font-weight: var(--font-600);
  color: var(--primary);
}

@media (max-width: 425px) {
  .textContainer p {
    font-size: var(--text-20);
    margin-bottom: var(--spacing-16);
  }

  .textContainer a {
    font-size: var(--text-18);
  }
}
