.home {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  background-image: url("../../../public/svg/hero.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  cursor: default;
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  line-height: 7.5rem;
  opacity: 0;
  transform: translateY(20px);
  animation: title 2s forwards;
}

@keyframes title {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
