.home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 히어로 배너 - PC */
.heroPC {
  background-image: url("../../../public/svg/hero-pc.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 히어로 배너 - 태블릿 */
.heroTablet {
  background-image: url("../../../public/svg/hero-tablet.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
}

/* 히어로 배너 - 모바일 */
.heroMobile {
  background-image: url("../../../public/svg/hero-mobile.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
}

/* 히어로 콘텐츠 - PC, 태블릿 */

.heroContent {
  cursor: default;
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  line-height: 7.5rem;
  opacity: 0;
  transform: translateY(20px);
  animation: heroContent 2s forwards;
}

/* 히어로 콘텐츠 - 모바일 */

.heroContentMobile {
  display: none;
  cursor: default;
  text-align: center;
  font-size: 2.4rem;
  line-height: 3.6rem;
  font-weight: bold;
  opacity: 0;
  transform: translateY(20px);
  animation: heroContentMobile 2s forwards;
}

@keyframes heroContent {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes heroContentMobile {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1024px) {
  .heroContent {
    font-size: 4rem;
    line-height: 6rem;
  }
}

@media (max-width: 768px) {
  .heroPC {
    display: none;
  }

  .heroTablet {
    display: flex;
  }

  .heroContent {
    font-size: 3rem;
    line-height: 4.5rem;
  }
}

@media (max-width: 425px) {
  .heroTablet {
    display: none;
  }

  .heroContent {
    display: none;
  }

  .heroMobile {
    display: flex;
  }

  .heroContentMobile {
    display: block;
  }
}
