.section {
  padding: var(--spacing-64) 0;
  background-color: var(--quaternary);
}

.history {
  position: relative;
}

.timeLineContainer {
  margin-bottom: var(--spacing-32);
  opacity: 0;
  transform: translateY(20%);
  animation: timeLineContainer 2s forwards;
}

.timeLineTitle {
  font-size: var(--text-20);
  font-weight: var(--font-700);
  margin-bottom: var(--spacing-16);
}

.timeLine {
  font-size: var(--text-16);
  margin-bottom: var(--spacing-8);
}

.image {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-30%);
  width: 50rem;
  height: 40rem;
  opacity: 0;
  animation: image 2s forwards;
}

/* 애니메이션 */
@keyframes timeLineContainer {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes image {
  to {
    opacity: 1;
    transform: translateY(-50%);
  }
}

/* 반응형 */
@media (max-width: 768px) {
  .image {
    width: 35rem;
    height: 28rem;
  }
}

@media (max-width: 425px) {
  .image {
    position: static;
    width: 30rem;
    height: 25rem;
    margin: 0 auto;
    transform: translateY(0);
    margin-bottom: var(--spacing-64);
  }
}
