/* 헤더 */
.outer {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  background-color: white;
}

/* 네비게이션 */
.nav ul {
  display: flex;
  gap: 0.8rem;
}

.li {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.linkIcon {
  position: absolute;
  top: 6px;
  right: 4px;
  width: 12px;
  height: 12px;
}

.button {
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background-color: white;
  border-radius: 4px;
  transition: 200ms all ease-in-out;
  font-family: "Pretendard";
}

.button:hover {
  background-color: #e8e8ee;
}

.link {
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background-color: white;
  border-radius: 4px;
  transition: 200ms all ease-in-out;
}

.link:hover {
  background-color: #e8e8ee;
}

.applyLink {
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  padding: 12px 18px;
  border-radius: 999px;
  transition: 200ms all ease-in-out;
  background-color: #333;
}

.applyLink:hover {
  background-color: #444;
  color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

/* 모바일 */

.mobileButton {
  display: none;
  background-color: transparent;
  border: none;
}

.mobileNav {
  width: 100%;
  display: none;
  position: absolute;
  top: 6rem;
  background-color: white;
}

.mobileNav ul {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  padding: 0.8rem 0;
  background-color: white;
}

.mobileNav li {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  background-color: #fff;
  transition: background-color 200ms ease-in-out;
}

.mobileNav li:hover {
  background-color: #e8e8ee;
  transition: background-color 200ms ease-in-out;
}

.mobileNav li:active {
  background-color: #cdced6;
  transition: background-color 200ms ease-in-out;
}

.mobileLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 500;
}

.mobilea img {
  position: absolute;
  top: -5px;
  right: -15px;
}

/* 반응형 */

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

/* 반응형 */

/* lg */
@media (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 0 1.6rem;
  }
}

/* md */
@media (max-width: 768px) {
  .blackBackground {
    background-color: rgba(0, 0, 0);
    opacity: 0.8;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
  }

  .header {
    margin-bottom: 0;
  }

  .applyLink {
    display: none;
  }

  .nav {
    display: none;
  }

  .mobileButton {
    display: block;
  }

  .mobileNav {
    display: block;
    background-color: #fff;
  }

  .mobilea {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    font-family: "Pretendard";
  }
}
