.ServiceCard {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #f7f7f7;
  border-radius: 20px;
  padding: 24px 16px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  /* box-shadow: 0px 10px 20px 0px rgba(40, 40, 40, 0.1); */
}

.ServiceCard:hover {
  transform: translateY(-5%);
}

.imgContainer {
  margin: 0 auto;
  width: 350px;
  height: 300px;
  border-radius: 16px;
  position: relative;
}

.service1,
.service2,
.service3 {
  background-color: rgba(173, 191, 237, 0.8);
}

.service4,
.service5,
.service6 {
  background-color: rgba(255, 182, 182, 0.8);
}

.img {
  object-fit: cover;
  border-radius: 24px;
  padding: 8px;
}

.title {
  font-size: var(--text-20);
  font-weight: var(--font-700);
  margin-bottom: 16px;
}

.description {
  line-height: 150%;
}

@media (max-width: 425px) {
  .ServiceCard {
    width: 300px;
    margin: 0 auto;
  }

  .imgContainer {
    width: 100%;
    height: 300px;
    border-radius: 16px;
    position: relative;
  }

  .title {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .ServiceCard:hover {
    transform: translateY(0);
  }
}
