.cardContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 450px;
  margin-bottom: var(--spacing-128);
}

.imageWrapper {
  overflow: hidden;
  border-radius: 20px;
  margin-right: var(--spacing-80);
  width: 590px;
  height: 450px;
}

.latestNewsImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.cardContainer:hover .latestNewsImage {
  transform: scale(1.1);
}

.contentContainer {
  width: 530px;
}

.badge {
  font-size: var(--text-16);
  font-weight: 700;
  color: var(--primary);
  padding-top: var(--spacing-40);
  margin-bottom: var(--spacing-24);
}

.title {
  font-size: var(--text-32);
  font-weight: 600;
  margin-bottom: var(--spacing-12);
  line-height: 1.6;

  word-break: keep-all; /* 한중일 텍스트에서 단어 분리 방지 */
  white-space: normal; /* 줄바꿈 허용 */
  overflow-wrap: break-word; /* 컨테이너를 벗어날 때 줄바꿈 */
}

.content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  line-height: 1.5;
  height: 4.5em; /* line-height * 줄 수 */
  font-size: var(--text-18);
  font-weight: 500;
  color: #3f3f46;
  max-height: 380px;
  margin-bottom: var(--spacing-24);

  word-break: keep-all; /* 한중일 텍스트에서 단어 분리 방지 */
  white-space: normal; /* 줄바꿈 허용 */
  overflow-wrap: break-word; /* 컨테이너를 벗어날 때 줄바꿈 */
}

.date {
  font-size: var(--text-14);
  color: #717180;
  font-weight: 400;
  margin-bottom: var(--spacing-32);
}

.imageLink {
  text-decoration: none;
  color: inherit;
  display: block;
}

.contentLink {
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer;
}
