.EffectSection {
  padding: 80px 0;
}

.title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 80px;
}

.iconContianer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconImg {
  width: 120px;
  height: 120px;
  margin-bottom: 24px;
}

.iconTitle {
  font-size: 20px;
  font-weight: 700;
}

.description {
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 16px;
}

.mobileIconContainer {
  display: none;
}

@media (max-width: 425px) {
  .EffectSection {
    padding: 64px 0;
  }

  .title {
    font-size: 28px;
    margin-bottom: 40px;
  }

  .iconContianer {
    display: none;
  }

  .mobileIconContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
  }

  .mobileIcon {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
  }

  .description {
    width: 100%;
    margin: 0;
    font-size: 16px;
    margin-bottom: 16px;
  }
}
