.heroSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* height: 95vh; */
  padding: 0 var(--spacing-16);
  margin-top: 100px;
}

.topImage {
  margin-bottom: 64px;
}

.titleContainer {
  opacity: 0;
  transform: translateY(20px);
  animation: titleContainer 2s forwards;
  margin-bottom: 80px;
}

.title {
  font-size: var(--text-48);
  font-weight: var(--font-700);
  margin-bottom: var(--spacing-16);
  text-align: center;
}

.subTitle {
  font-size: var(--text-40);
  font-weight: var(--font-700);
  text-align: center;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image {
  max-width: 100%;
  height: auto;
}

/* 모바일 */
.titleContainerMobile {
  display: none;
  margin-bottom: var(--spacing-48);
  opacity: 0;
  transform: translateY(20px);
  animation: titleContainer 2s forwards;
}

.titleMobile {
  font-size: var(--text-24);
  font-weight: var(--font-700);
  margin-bottom: var(--spacing-16);
  text-align: center;
}

.subTitleMobile {
  font-size: var(--text-32);
  font-weight: var(--font-700);
  line-height: 150%;
  text-align: center;
}

/* 애니메이션 */
@keyframes titleContainer {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes titleContainerMobile {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 반응형 */
@media (max-width: 768px) {
  .topImage {
    width: 64px;
  }

  .title {
    font-size: 40px;
  }

  .subTitle {
    font-size: 32px;
  }
}

@media (max-width: 425px) {
  .topImage {
    margin-bottom: 32px;
  }

  .titleContainer {
    display: none;
  }

  .titleContainerMobile {
    display: block;
  }

  .imageContainer {
    display: none;
  }
}

@media (max-width: 320px) {
  .titleMobile {
    font-size: var(--text-20);
  }

  .subTitleMobile {
    font-size: var(--text-28);
  }
}
