.heroSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 95vh;
  background-color: aliceblue;
  padding: 0 var(--spacing-16);
}

.titleContainer {
  margin-bottom: var(--spacing-64);
}

.title {
  font-size: var(--text-48);
  font-weight: var(--font-700);
  margin-bottom: var(--spacing-16);
  text-align: center;
}

.subTitle {
  font-size: var(--text-40);
  font-weight: var(--font-700);
  text-align: center;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image {
  max-width: 100%;
  height: auto;
}

/* 모바일 */
.titleContainerMobile {
  display: none;
  margin-bottom: var(--spacing-48);
}

.titleMobile {
  font-size: 20px;
  font-weight: var(--font-700);
  margin-bottom: var(--spacing-16);
  text-align: center;
}

.subTitleMobile {
  font-size: 28px;
  font-weight: var(--font-700);
  line-height: 150%;
  text-align: center;
}

/* 반응형 */
@media (max-width: 768px) {
  .title {
    font-size: 40px;
  }

  .subTitle {
    font-size: 32px;
  }
}

@media (max-width: 425px) {
  .titleContainer {
    display: none;
  }

  .titleContainerMobile {
    display: block;
  }

  .imageContainer {
    display: none;
  }
}
