.heroSection {
  /* margin-top: 80px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.titleContainer {
  margin-bottom: 6.4rem;
}

.title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}

.subTitle {
  font-size: 40px;
  font-weight: 700;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* 이미지 컨테이너의 너비를 전체 너비로 설정 */
}

.image {
  max-width: 100%; /* 이미지가 컨테이너를 벗어나지 않도록 설정 */
  height: auto; /* 이미지 비율을 유지 */
}
