.subtitle {
  font-size: var(--text-32);
  font-weight: var(--font-700);
  margin-bottom: var(--spacing-16);
  text-align: center;
}

.title {
  font-size: var(--text-40);
  font-weight: var(--font-700);
  /* margin-bottom: var(--spacing-64); */
  text-align: center;
}

.speechBubbleContainerCenter {
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
  transform: translateX(15%);
}

.speechBubbleContainerLeft {
  display: flex;
  justify-content: flex-start;
  /* transform: translateX(5%); */
  margin-bottom: 16px;
}

.speechBubbleContainerRight {
  display: flex;
  justify-content: flex-end;
  /* transform: translateX(-5%); */
  margin-bottom: 16px;
}

.imgContainer {
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacing-64);
}
