.Banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 250px;
  background-color: #231815;
  position: fixed;
  top: 570px;
  right: 40px;
  border-radius: 16px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 100;
}

.sideBanner {
  width: 200px;
  height: 450px;
  position: fixed;
  top: 100px;
  right: 40px;
  border-radius: 16px;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 100;
}

.sideBannerCancelButton {
  position: fixed; /* absolute에서 fixed로 변경 */
  top: 116px; /* sideBanner의 top(100px) + 16px */
  right: 56px; /* sideBanner의 right(40px) + 16px */
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 100;
  width: 24px;
  height: 24px;
}

.hide {
  visibility: hidden;
}

.show {
  opacity: 1;
  visibility: visible;
}

.img {
  margin-bottom: 16px;
}

.title {
  font-size: 30px;
  color: white;
  font-weight: 700;
  margin-bottom: 24px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: 700;
  color: #282828;
  background-color: white;
}

.cancelButton {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 16px;
  right: 16px;
}

.cancelIcon {
  width: 100%;
  height: 100%;
}

.sideMobileBanner {
  display: none;
}

@media (max-width: 425px) {
  .Banner {
    display: none;
  }

  .sideBanner {
    display: none;
  }

  .sideBannerCancelButton {
    display: none;
  }

  .sideMobileBanner {
    display: block;
    width: 48px;
    height: 48px;
    position: fixed;
    bottom: 148px;
    right: 24px;
    border-radius: 100%;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  .mobileBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: #231815;
    border-radius: 100%;
    position: fixed;
    bottom: 85px;
    right: 24px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  .mobileBannerImg {
    border-radius: 100%;
  }

  .hide {
    visibility: hidden;
  }

  .show {
    opacity: 1;
    visibility: visible;
  }
}
