.VisionSection {
  padding: 80px 0;
  background-color: #fafafa;
}

.title {
  margin-bottom: 64px;
  font-size: var(--text-40);
  font-weight: var(--font-700);
  text-align: center;
  line-height: 150%;
}
